# Entornos virtuales
venv/
.venv/
env/
.vscode/

# Cache de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Datos (Ignoramos todo el contenido de data/)
data/raw/*
data/processed/*
!data/**/.gitkeep

# Ficheros del sistema
.DS_Store
Thumbs.db
.env
